<% include ../partials/header %>

<h1>show pg!</h1>

<div class="container">

  <div class="row">
    <div class="col-md-3">
      Side bar left
    </div>
      <div class="col-md-9">
        <div class="thumbnail">
        <p>
          <%= photo.name %>
        </p>

        <p>
          <img class="img-responsive" src="  <%= photo.image %> " alt="" />
        </p>

        <div class="caption-full">
          <p>
            <%= photo.description %>
          </p>
        </div>
        <p>
          Submitted by <%= photo.author.username %>
        </p>

        <p>
          <a class="btn btn-xs btn-default" href="/photos/<%= photo._id %>/edit">Edit</a>
        </p>

        <form class="delete-form" action="/photos/<%= photo._id %>?_method=DELETE" method="post">
          <button class="btn btn-xs btn-danger">Delete</button>
        </form>

      </div>

      <div class="well">
        <p>
          <% photo.comments.forEach(function(comment){ %>
            <p>
              <strong><%= comment.author %></strong> : <%= comment.text %>
            </p>
          <% }) %>
        </p>
      </div>

      <div class="well-accent-bar">
        <p>
          <a class="btn btn-default" href="/photos/<%= photo._id %>/comments/new">Add a comment</a>
        </p>
      </div>


    </div>
  </div>

</div>

<!--
<div class="container">
  <div class="row pink">
    row
    <div class="col-md-6 pink">
        col
    </div>
  </div>
</div> -->
<% include ../partials/footer %>
